{% extends 'base.html.twig' %}

{% block title %}New Bookshelf{% endblock %}

{% block body %}
    <h1>Create new Bookshelf</h1>

    {% set buttonText = 'bookshelf.form.create.submit' %}
    {{ include("forms/edit.html.twig", {'button_label': buttonText | trans | raw}) }}

{% endblock %}
