{% extends 'base.html.twig' %}

{% block title %}{% trans %}bookshelf.edit{% endtrans %}{% endblock %}

{% block body %}

    <div class="container-lg">
        <h1>{% trans %}bookshelf.edit{% endtrans %}</h1>

        <div class="row">
            <div class="col-8">
                {% set buttonText = 'bookshelf.form.update.submit' %}
                {{ include("forms/edit.html.twig", {'button_label': buttonText | trans | raw}) }}
            </div>

            {% if is_granted('edit', bookshelf) %}
                <div class="col-3 offset-1 text-end">
                    <a href="{{ path('bks_bookshelf_edit_ownership', {ulid: bookshelf.ulid}) }}" class="btn btn-primary mb-3">{% trans %}bookshelf.edit.ownership{% endtrans %}</a>

                    {{ include('forms/delete.html.twig', {route: path('bks_bookshelf_delete', {ulid: bookshelf.ulid}), csrf_prefix: 'bookshelf', csrf: bookshelf.ulid}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
