{% extends 'base.html.twig' %}

{% block title %}{% trans %}publisher.create{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-lg">
        <h1>{% trans %}publisher.create{% endtrans %}</h1>

        <div class="row">
            <div class="col-8">
                {% set buttonText = 'publisher.form.create.submit' %}
                {{ include("forms/edit.html.twig", {'button_label': buttonText | trans | raw}) }}
            </div>
        </div>
    </div>
{% endblock %}