<div {{ stimulus_controller("form-isbn") }}>
    <div data-form-isbn-target="isbnForm">
        {{ form_start(isbn_form) }}
            {{ form_widget(isbn_form) }}
        {{ form_end(isbn_form) }}
    </div>
</div>