<form method="post" action="{{ route }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ csrf_prefix ~ csrf) }}">
    <button id="submit-delete" class="btn btn-danger">{% trans with {'%entity%': csrf_prefix | trans} %}crud.delete.%entity%{% endtrans %}</button>
</form>
