<div {{ stimulus_controller('form-isbn') }}>
    <div data-form-isbn-target="isbnForm" data-action="submit->form-isbn#submitForm">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary" data-form-isbn-target="isbnSubmit" data-action="submit->form-isbn#submitForm">{% trans %}isbn.search{% endtrans %}</button>
        {{ form_end(form) }}
    </div>

    <div data-form-isbn-target="isbnResults">

    </div>
</div>