{% extends 'base.html.twig' %}

{% block title %}{% trans %}book.create{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-lg">
        <h1>{% trans %}book.create{% endtrans %}</h1>

        <div class="row">
            <div class="col-8">
                {% set buttonText = 'book.form.create.submit' %}
                {{ include("book/_edit.html.twig", {'button_label': buttonText | trans | raw}) }}
            </div>
        </div>
    </div>
{% endblock %}