<header class="bg-dark text-white mb-5">
    <nav class="navbar">
        <div class="container-lg flex-column flex-sm-row justify-content-center justify-content-sm-between">
            <a class="navbar-brand d-flex align-items-center text-white" href="{{ path('bks_home') }}">
                <span class="logo logo-7 logo-white me-2"></span>
                {% trans %}app.name{% endtrans %}
            </a>
        </div>
    </nav>
</header>